# XS_APP_ENV_EAS_PROFILES_V1
# Internal test / preview builds.
EXPO_PUBLIC_APP_ENV=preview
EXPO_PUBLIC_BASE_URL=https://xiascor-backend-tssdy62zqa-ez.a.run.app
EXPO_PUBLIC_AUTH_BASE_URL=https://xiascor-backend-tssdy62zqa-ez.a.run.app
